*{
    margin: 0;
    font-family: 'Playfair Display', serif;

}
/* header and navigation styles */
.text-primary{
    color: #FDC435;
}
.btn-primary{
    color: #000000;
    font-weight: 500;
font-size: 18px;
line-height: 150%;
    border-radius: 5px;
    background: #FDC435;
    border: 0;
    padding: 10px 22px;

}
nav{
    display: flex;
    justify-content: space-between;
    margin: 12px 120px;
}
.nav-title {
    height: 56px;

}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;

}
/* banner styles */
.banner{
    margin: 0px 112px;
    display:flex ;
    align-items: center
}
